// Open Sans Font
$ff-os-italic: 'OpenSans-Italic';
$ff-os-regular: 'OpenSans-Regular';
$ff-os-semiBold: 'OpenSans-SemiBold';
$ff-os-bold: 'OpenSans-Bold';
$ff-os-extraBold: 'OpenSans-ExtraBold';
// Colors
$main-text: #2b3b73;
$bg-blue-gradient: #192756;
$text-opacity: #4c4c4c;
$btn-headline: #c7223c;
$btn-gradient: #a71129;
$white: #ffffff;
$text-headline: #636363;
$text-form-footer: #9b9a9a;
$map-dots: #c6213b;
$blog-text: #525252;
$card-box: #f6f2ed;
$text-whiteish: #fffffe;
$bg-section: #efeae5;
$bg-color: #f1ede8;
$bg-section-top: #e8e3df;
$bg-color-form: #fbf9f6;
$border-separator: #e1dbd3;
$border-box: #bdb1a3;
$nav-pills: #8188a2;